<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.pythonistas.AutoConference"
      android:versionCode="5"
      android:versionName="1.4">

  <uses-sdk android:minSdkVersion="3" />
  <application android:label="@string/app_name"
	       android:icon="@drawable/speaker">
    <service android:name=".ConferenceService"/>
    <activity android:name=".AutoConference"
	      android:label="@string/app_name"
	      android:icon="@drawable/speaker">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <receiver android:name=".CallReceiver"/>
    <receiver android:name=".PhoneBroadcaster">
      <intent-filter>
	<action android:name="android.intent.action.PHONE_STATE" />
      </intent-filter>
    </receiver>
  <meta-data android:value="a14b34e6db249a2" android:name="ADMOB_PUBLISHER_ID" />
  </application>

  <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
  <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" /> 
  <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> 
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> 

  <!-- AdMob SDK permissions -->
  <uses-permission android:name="android.permission.INTERNET" />

</manifest> 
